<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />

    <script src="/javascripts/demo.js"></script>

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
